@model Website_TD.Models.DonHang

@{
    ViewBag.Title = "ThanhToanDonHang";
    Layout = "~/Shared/Layout.cshtml";
}

<center>
    @using (Html.BeginForm("DatHang", "GioHang", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <div class="control-label col-md-3 Bold"> <b>Ngày đặt</b></div>
                <div class="col-md-9">
                    @Html.DisplayFor(model => model.NgayDatHang, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-3 Bold"> <b>Tổng tiền thanh toán</b></div>
                <div class="col-md-9">
                    <h3 class="text-danger"> @String.Format("{0:0,0}", ViewBag.tongtien) VNĐ </h3>
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-3 Bold"> <b>Phương thức thanh toán</b></div>
                <div class="col-md-9">
                    @Html.DropDownList("MaTT", (SelectList)ViewBag.MaTT, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-3 Bold"> <b>Ghi chú</b></div>
                <div class="col-md-9 text-danger">
                    - Đối với thanh toán bằng tiền mặt. Sản phẩm giao đến quý khách, quý khách kiểm tra sản phẩm sau đó thanh toán cho Shiper.
                    <br />
                    - Đối với thanh toán chuyển khoản:
                    Quý khách chuyển khoản vào tài khoản : <b></b> Chủ tài khoản: <b>LY TIEN DAT</b>. Ngân hàng <b>VietinBank</b> hoặc <b>Momo:</b> 0336456341
                    <br />
                    - Nội dung chuyển khoản điền theo mẫu: Họ tên , số điện thoại, Thanh toán mua hàng SHOP.
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Đặt hàng ngay" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
</center>