@model Website_TD.Models.TaiKhoan
@{
    ViewBag.Title = "ThongTinNguoiDung";
    Layout = "~/Shared/Layout.cshtml";
}

<center>
    <h2 class=""> Thông tin cá nhân khách hàng </h2>
    <br />
    <table class="table-hover table-bordered divGioHang">
        <tr style="">
            <th> Họ & tên</th>
            <th> Email </th>
            <th> Số điện thoại </th>
            <th> Mật khẩu </th>
            <th>Địa chỉ</th>
        </tr>
        <tr class="font-italic">
            <td>  @Html.DisplayFor(model => model.HoTen)</td>
            <td>  @Html.DisplayFor(model => model.Email) </td>
            <td>  @Html.DisplayFor(model => model.SoDienThoai)</td>
            <td>  @Html.DisplayFor(model => model.MatKhau)</td>
            <td>  @Html.DisplayFor(model => model.DiaChi)</td>
        </tr>
    </table>
    @if (Session["Admin"] == null)
    {
        <form action="/Account/PhanHoi" method="get">
            <button type="submit" class="btn btn-primary">Gửi phản hồi</button>
        </form>
    }


</center>
<br />
@*Css giỏ hàng*@
<style type="text/css">
    .divGioHang {
        border: 2px solid #EEEEEE;
        margin-left: 10%;
        font-size: large;
    }

        .divGioHang td {
            padding: 40px;
            border: 2px solid #EEEEEE;
            text-align: center;
        }

        .divGioHang th {
            text-align: center;
        }
</style>


